$primary-text-colour: rgb(194, 165, 3);
$text-shadow-colour: 2px 2px 2px black;
$primary-book-colour: rgb(110, 1, 37);
$secondary-book-colour: rgba(83, 1, 28, 0.911);
$paper-colour: rgb(233, 228, 218);
$box-shadow-colour:  rgba(77, 75, 63, 0.349);

