header {
    display: grid;
    justify-items: center;

    h2 {
        font-size: 1rem;
    }
}


#container {
    display: grid;
    border: 1px solid grey;
    height: auto;
    width: 98vw;
    margin: 2rem 1rem 0 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: 1fr;
    gap: 1rem;
    padding: 3rem;
    #new-book-btn {
        min-height: 250px;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        border: 1px dashed lightpink;
        justify-content: center;
        justify-items: center;
        padding: 1rem;
        min-height: 250px;
        max-height: 300px;

        .card-item {
            display: flex;
            flex-flow: row nowrap;
            padding: 5px;   
            align-items: center;
            button {
                padding: 1px;
                border-radius: 50%;
                
            }
         }
    }
}

#modal {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.925);
    border: 2px lightgray solid;
    input[type="text"] {
        appearance: none;
        border-radius: 55px;
        display: block;
        padding: 5px; 
    }
}


