@import 'mixins.scss';
@import 'variables.scss';

:root {
    background-color: rgba(202, 190, 173, 0.425);
     background-image: url(./nasa--hI5dX2ObAs-unsplash.jpg);
}

header {
    text-shadow: $text-shadow-colour;
    font-family: 'Pelejaregular10';
    font-weight: normal;
    font-style: normal;
    color: $primary-text-colour;
    text-align: center;
    h1 {
        padding: 1rem;
    }
    h2 {
        font-size: 1rem;
    }

}

#new-book-btn {
    cursor:pointer;
    border: none;
    color: $primary-text-colour;
    text-shadow: $text-shadow-colour;
    font-size: 22px; 
    background-color: transparent;
    display: grid;
    width: 20%;
    justify-content: center;
    margin: auto;
   padding: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'CursiveSansBold';
    font-style: italic;
}

#new-book-btn:hover  {
    transform: scale(1.5);
    transition: ease 0.6s;
   
    

   
}

#container {
    display: grid;
    width: 80%;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    margin: auto;
    font-family: 'CursiveSansBold';
    font-style: italic;
    font-size: 0.8rem;

    button:hover {
            transform: scale(1.1);
            transition: ease 0.6s;
            cursor: pointer;
    }

    .card {
        @include books();
     
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 5fr;
    }
        .card-item {
            grid-column: 1 / span 2;
            display: flex;
            flex-flow: row nowrap;
            padding: 5px;   
            align-items: center;
            justify-content: center;
      
            button {
                padding: 1px;
                border-radius: 50%;
             
            }
         }
    }



.title {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}


#toggle {
    grid-row: -1;
    grid-column: 1 / 1;
    width: 78px;
    background-color: transparent;
    color: $primary-text-colour;
    text-shadow: 1px 1px 1px black;
    border:rgb(165, 140, 0) 1px solid;
    box-shadow: inset -2px -2px 2px $primary-text-colour;
}


#remove {
    background-color: transparent;
    color: $primary-text-colour;
    border:rgb(165, 140, 0) 1px solid;
    box-shadow: inset -2px -2px 2px $primary-text-colour;
    text-shadow: 1px 1px 1px black;
    grid-row: -1;
    grid-column: 1 / 1;
    width: 78px;
    justify-self: flex-end;
}

#modal {
    visibility: hidden;
    background-image: url(./noise.svg);
    position: absolute;
    border-left: 16px solid  rgb(233, 228, 218);
    border-bottom: 8px solid  rgb(233, 228, 218);
    border-right: 2px solid rgb(233, 228, 218);
    border-top: 2px solid rgb(233, 228, 218);
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5rem;
    width: 500px;
    background-color: rgb(255, 255, 255);
    font-family: cursiveSansBold;
    font-weight: light;
    color: $primary-text-colour;
    text-shadow: $text-shadow-colour;
    z-index: 10;
    box-shadow: $primary-book-colour -4px 2px 1px;

    button {
        background: transparent;
        border: 2px solid $primary-text-colour;
        padding: 5px;
        margin-left: 100px;
        color: $primary-text-colour;
        text-shadow: $text-shadow-colour;
    }
     #close-modal {
        font-family: 'Courier New', Courier, monospace;
        width: 55%;
        font-weight: lighter;
        border: none;
        position:absolute;
        margin-top: -10%;
        justify-content: flex-end;

    }
    button:hover,   input[type="checkbox"] {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.1s ease-in-out;
    }

    input[type="text"] {
        appearance: none;
        border: none;
        border-radius: 5px;
        display: block;
        padding: 5px;
        margin: 15px 0 15px;
        outline: none;
    }
    input[type="checkbox"] {
        margin-left: 10px;
    }
   
}

#modal-content::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 320px;
    top: 0;
    bottom: 0;
    border: 2px dashed;
    color:  rgb(233, 228, 218);
    border-width: 0 0 0 1px;
    background-color: rgb(202, 182, 143);
}



